@{
    ViewBag.Title = "About";
}

<div class="card">
<main aria-labelledby="title">
    <h4 class="text-center">AIRLINE RESERVATION SYSTEM</h4>
    <p>
        <hr />
        The online rail booking system will provide a user interface application that allows users to search, book and manage rails. The system typically includes a database of rails, trains, and stations as well as a user interface for searching and booking rails.
        <br /><br />
        In addition, the system may include features for administrators to manage rails, trains, and bookings as well as reporting and analytic tools to track system usage and performance. Overall, a rail booking system streamlines the process of booking and managing rails making it easier for users to plan their travel and for trains to manage their operations.  <br /><br />
        Accessibility: The web-based application can be accessed from any device with internet access, making it easier for officers to access information remotely. 
    </p>
</main>
</div>
<style>
    .card {
        background-color: #23c483;
        padding: 20px;
        color: aliceblue;
        border-radius: 4%;
    }
</style>
