@{
    ViewBag.Title = "Contact";
}
<div class="card">
    <main aria-labelledby="title">
        <h2 align="centre">Contact Us</h2>
        <br />


        <address>
            
        Customer Support: For any inquiries or assistance with your train ticket bookings, please reach out to our customer support team.<br />

        Phone: 0755-6610661, 0755-4090600 (Available in Hindi and English)<br /> Email:hironmoy@gmail.com<br />

        General Queries: care@irctc.co.in<br />
        Cancellation Requests: etickets@irctc.co.in<br />
        Corporate Office: Indian Railway Catering and Tourism Corporation Ltd. B-148, 11th Floor, Statesman House, Barakhamba Road, New Delhi 110001<br />

        Emergency Contact: For medical emergencies or immediate assistance during your journey, please contact the ticket checking staff, guard, or dial 138.<br />

       

        Helpline: 0124-39021212 or 18001801295 (BSNL/MTNL lines)<br />
        Email: feedback@gmail.com<br />
        For other queries regarding your IRCTC SBI card account, kindly email at loyaltyprogram@irctc.co.in.<br />

        We are committed to ensuring a smooth and pleasant experience for all our travelers. Your feedback is valuable to us.<br />

        </address>

    </main>
</div>
<style>
    .card {
        background-color: #23c483;
        padding: 20px;
        color: aliceblue;
        border-radius: 4%;
    }
</style>